{
  "presets": ["next/babel"],
  "plugins": [
    ["import", { "libraryName": "antd" }],
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./",
        "rootPathPrefix": "~/"
      }
    ]
  ]
}
